
body {
background-image: url("computadora-portatil-icono-isometrico-codigo-programa-desarrollo-software-aplicaciones-programacion-neon-oscuro_39422-971.avif");

}
h1{
    color: rgb(255, 0, 0);
}
h2{
    color: rgb(255, 0, 0);
}
div{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
