
body {
background-color: rgb(163, 45, 70);

}
h1{
    color: rgb(226, 217, 217);
}
h2{
    color: rgb(226, 217, 217);
}
div{
    color: rgb(226, 217, 217);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
a¨{
   display: flex;
   justify-content: center; 
   align-items: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}